applicationSettings:
    debug: true
    hostname: "localhost"
    port: 8888
    forksPerCPU: 0

# Details for querying google analytics API
# don't forget to add it to your analytics users, profileId - add your google analytics profile ID
# startDaysAgo - specify start date, it can be 7, 20, 30 days ago, this value should be integer
# specify keyFileLocation or leave it blank to look for it in default location (project_root/utilities/)
googleAnalyticsApi:
    serviceAccount: '__your_service_account@developer.gserviceaccount.com'
    profileId: '__your_profile__id'
    startDaysAgo: 7
    keyFileLocation: ''
    website: "https://www.opencredo.com"

# application credentials from APIs & auth > credentials > Client ID for native application
# key represents "Client ID", secret is "Client secret". Oauth module expects to find "google_oauth" in app settings
# set allowedDomain to '' if you want to allow all domains
googleOAuth:
    key: '__your_client_key__'
    secret: '__your_client_secret__'
    allowedDomain: '__your_domain__'

# your application salesforce details goes here. To get your account working you will probably have to make four steps.
# try logging in with that account and accessing report, it may take some time until you get it working!
salesForce:
    sfUser: "email_name@mail.com"
    sfPsw: "account_password"
    sfToken: "security_token"
salesForceReports:
    consultantUtilisation: "report_id_from_url"
    consultantBillability: "report_id_from_url"

salesForceWhitelist: ["some_user@email.com", "another_user@gmail.com"]