<div id="data-box" class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ table_title }}</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table class="table table-condensed table-bordered">
            <tbody><tr>
                {% for header in headers %}
                  <th> {{ header }}</th>
                {% end %}
            </tr>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% end %}
            </tr>
            {% end %}

            </tbody></table>
    </div><!-- /.box-body -->
</div>