<div id="peoplesources" class="box">
    <div class="box-header with-border">
        <h3 class="box-title">How did people found your pages?</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody><tr>
                <th> Source </th>
                <th> Medium </th>
                <th> Sessions </th>
                <th> Page views</th>
                <th> Duration </th>
            </tr>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% end %}
            </tr>
            {% end %}

            </tbody></table>
    </div><!-- /.box-body -->
</div>