<div id="data-box" class="col-md-3">
    <div class="box box-danger box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Failed to load report</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ error }}
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>