{% extends "base.html" %}

{% block title %}Dashboard{% end %}

{% block body %}
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4">
            <div id="peoplesources"></div>
        </div>
        <div class="col-md-2">
            <div id="topcountries"></div>
        </div>
        <div class="col-md-6">
            <div id="toppages"></div>
        </div>
    </div>
</section>

{% end body %}
{% block endjs %}

<script>
    $('#peoplesources').load('/people-sources #data-box');

</script>
<script>
    $('#topcountries').load('/top-countries #data-box');
</script>
<script>
    $('#toppages').load('/top-pages #data-box');
</script>

{% end endjs %}