{% extends "base.html" %}

{% block title %}Dashboard{% end %}

{% block body %}
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4">
            <div id="peoplesources"></div>
        </div>
        <div class="col-md-2">
            <div id="topcountries"></div>
            <div id="totalusers"></div>
        </div>
        <div class="col-md-6">
            <div id="toppages"></div>
        </div>
        <div class="col-md-4">
            <div id="topkeywords"></div>
        </div>
        <div class="col-md-5">
            <div id="referrers"></div>
        </div>
    </div>
</section>

{% end body %}
{% block endjs %}

<script>
    function loaddiv(container_div, href) {
        $.ajax({
            url: href,
            type: 'GET',
            success: function (data) {
                $(container_div).html($(data).find('#IDofDivToFind'));
            }
        });
    }
    loaddiv('#peoplesources', '/people-sources');
    loaddiv('#topcountries', '/top-countries');
    loaddiv('#toppages', '/top-pages');
    loaddiv('#topkeywords', '/top-keywords');
    loaddiv('#totalusers', '/total-users');
    loaddiv('#referrers', '/referrers')

</script>

{% end endjs %}